// Override default variables before the import
$white-color: #ffffff;
$primary-color: #2e475c;
$background-color: #f1faff;
$border-color: #f1faff;

$box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

$font-super-small: 10px;
$font-small: 12px;
$font-default: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-big-large: 20px;
$font-super-large: 30px;
$font-bg: 36px;
$font-title: 40px;
$font-big-title: 60px;