@import "../../assets/scss/Variable.scss";

.create-question-container {
  background-color: $white-color;
  color: $primary-color;
  border-radius: 4px;
  box-shadow: $box-shadow-dark;
  padding: 20px 10px;

  .create-question-header {
    text-align: center;
    font-size: $font-large;
    font-weight: bold;
  }

  .question-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .item-input {
      display: flex;
      flex-direction: column;
      width: 80%;

      button {
        border-radius: 50px;
        width: 80px;
        padding: 5px;

        &:hover {
          color: $white-color;
          transition: 0.5s;
        }
      }

      .subtitle {
        font-size: $font-small;
        height: 1px;
        color: $primary-color;
      }

      .detail {
        height: 200px;
      }
    }
  }

  .item-label {
    display: flex;
    gap: 5px;

    .asterisk {
      color: #ed4956;
    }
  }

  .description-item {
    margin: 20px 0;
    font-size: $font-default;

    textarea {
      height: 100px;
    }

    .item-label {
      margin-bottom: 5px;
    }
  }

  .create-question-footer {
    text-align: end;

    button {
      width: 80px;
      border: 1px solid $primary-color;
      background-color: $background-color;
      border-radius: 50px;
      cursor: pointer;
      outline: none;
      margin-left: 10px;
      padding: 5px;
      color: $primary-color;
    }

    button:hover {
      color: $white-color;
      transition: 0.5s;
    }
  }

  input,
  select,
  button,
  textarea {
    width: 100%;
    height: 30px;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 5px;
    color: $primary-color;
    font-size: $font-small;
  }
}
